@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    font-family: 'Audiowide', cursive;
    margin: 0;
    background-color: black;
    text-align: center;
}

.topnav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.topnav {
    margin-bottom: 8px;
    position: sticky;
}

.hero-bg {
    background-image: url("../images/JhonMayday.jpeg");
    background-color: black;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 4em;
    margin: 0;
}


.hero-bg h1{
    padding-top: 10em;
    padding-bottom: 6em;
    font-size: 2rem;
    margin-top: 0;
}

h3{
    padding: .3em;
}

.content {
    background-color: rgb(4, 4, 15);
    color: white;
    text-align: center;
    margin: 1em;
}

.about{
    background-color: rgb(4, 4, 15);
    margin: 0 6em 1em 6em ;
    position: relative;
    padding: 0 5em 0 5em;
}

.music {
    background-color: rgb(16, 19, 41);
}

.linked {
    margin: 0 3em 0 3em;
}

@media (max-width: 900px){
    .about{
        margin: 1em;
        padding: 0;
    }

    .about h2{
        font-size: 1.5rem;
    }

}